# Builder module config
# Put this config in subscribie's .env file
BUILDER_DEPLOY_WEB_HOST="192.168.1.1"
BUILDER_SUB_AUTH_ID="123"                                                        
BUILDER_SUB_AUTH_PASSWORD="secret"                                     
JAMLA_DEPLOY_URL="http://127.0.0.1:5001/"
SHOPS_SUBDOMAIN="subscriby.shop"
