# Created by Christopher Simpson 04/14/2018 
# Based on mass hosting config for lamp stacks 10/05/2016 21:01
# Documentation Reference: https://httpd.apache.org/docs/current/vhosts/mass.html

# get the server name from the Host: header
UseCanonicalName Off

# this log format cab be split per-virtual-host based on the first field
# using the split-logfile utility.
LogFormat "%V %h %l %u %t \"%r\" %s %b" vcommon
CustomLog "/var/log/apache2/access_log" vcommon


<Macro VHost $host $uid $dir>

  <VirtualHost *:80>
    ServerName $host
    ServerAlias www.$host
    DocumentRoot $dir
    RewriteEngine On

    # Public document root
    <Directory $dir/Crab>
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>

    # Crab instant payments
		Alias "/up-front-payment" "$dir/Crab"

    # Hedgehog subscription service
    <Directory $dir/hedgehog/shortly>
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>

    WSGIScriptAlias / $dir/hedgehog/shortly/Hedgehog.py
    WSGIDaemonProcess $host user=$uid group=$uid processes=2 socket-user=$uid python-path=$dir/hedgehog/shortly display-name=$host
    WSGIProcessGroup $host
    ErrorLog /var/log/apache2/subscriber$host.log

  </VirtualHost>
</Macro>

<Macro SSL $host $port $uid $dir>
    <VirtualHost *:443>
      ServerName $host
      ServerAlias www.$host
      DocumentRoot "$dir"

    # Public document root
    <Directory "$dir">
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>
    # Crab instant payments                                                      
        Alias "/up-front-payment" "$dir/Crab"

    <IfModule mpm_itk_module>
        AssignUserId $uid $uid
    </IfModule>

    <Directory $dir/hedgehog/shortly>
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>

    WSGIScriptAlias / $dir/hedgehog/shortly/Hedgehog.py
    WSGIDaemonProcess $host-ssl user=$uid group=$uid processes=1 socket-user=$uid python-path=$dir/hedgehog/shortly display-name=$host
    WSGIProcessGroup $host
    ErrorLog /var/log/apache2/subscriber$host.log

    SSLEngine On
    SSLProtocol All -SSLv2 -SSLv3 -TLSv1
    SSLHonorCipherOrder On
    SSLCipherSuite  ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA
    SSLCertificateFile /home/subwebbuild/.acme.sh/*.subscriby.shop/*.subscriby.shop.cer
    SSLCertificateKeyFile /home/subwebbuild/.acme.sh/*.subscriby.shop/*.subscriby.shop.key
    SSLCertificateChainFile /home/subwebbuild/.acme.sh/*.subscriby.shop/fullchain.cer
    </VirtualHost>
</Macro>

WSGISocketPrefix /var/run/wsgi
# Example host. Add another line to add another host. mod_macro will loop over each site.
# Use VHost subdomain.example.com username /path/to/sites/subdomain.example.com/
# Use SSL subdomain.example.com username 443 userbane /path/to/sites/subdomain.example.com/

