{% extends "layout.html" %}
{% block title %}Subscription Website Builder | Karma Computing{% endblock %}

{% block hero %}

  <div class="columns">
    <div class="column has-text-centered-touch">
      <h1 class="title is-1 has-text-white is-size-1-mobile">Subscription Website Builder</h1>
      <h2 class="subtitle has-text-white is-3 is-size-3-mobile">The simple subscription website builder.</h2>
      <p class="has-text-white">Make a subscription based website, taking monthly payments &amp; optional up-front payments.</p><br />
      <a href="/start-building" class="button is-light is-large">Start Building Now for Free</a>
    </div>
    <div class="column is-one-third">
      <img src="/static/{{ jamla['company']['start_image'] }}" style="max-width: 500px; width:75%; padding-bottom:25px" />
    </div>
  </div>

{% endblock %}

{% block body %}

<div class="section">
  <div class="container">

    <h2 class="title is-3 has-text-left is-size-4-mobile">Show off your services</h2>
    <p>Perfect for selling your packages or services with a monthly subscription fee. You can also add an optional up-front cost. Simply provide your unique selling points for each item and our subscription website builder does the rest. You focus on making your product
    the best it can be, we'll deal with the website.</p>


      <h3 class="title is-4 has-text-centered is-size-4-mobile">Start your subscription website now</h2>

      <div id="pricing-table-vertical">
        <div class="pricing-table" style="max-width:1000px; margin:auto;">
          {% for item in jamla['items'] %}
            <div class="pricing-plan">
                <div class="plan-header" style="color:{{ item['primary_colour'] }}"><img src="{{ item['primary_icon']['src'] }}" style="width:50%;display:block; margin:auto"/>{{ item['title']|safe }}</div>
                <div class="plan-items">
                {% for sellingPoint in item['selling_points'] %}
                    <div class="plan-item">{{ sellingPoint|safe }}</div>
                {% endfor %}
                </div>
              <div class="plan-footer">
                  <div class="plan-price" style="padding-bottom:0;">
                      <span style="color:{{ item['primary_colour'] }}" class="plan-price-amount">
                          <span class="plan-price-currency">&pound;</span>{{ "%.2f"|format(item['monthly_price']/100) }}</span>/month
                  </div>
                  <small style="margin-bottom:1rem;">Upfront cost: &pound;{{ "%.2f"|format(item['sell_price']/100) }}</small>
                  <a href="/new_customer?plan={{ item['sku'] }}" style="background-color:{{ item['primary_colour'] }}" class="button is-fullwidth is-info">Start building now!</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

  </div>
</div>

<div class="section kcDarkBlue" style="position:relative">
  <div class="container">
    <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
      <div class="column">
        <h3 class="title is-3 has-text-white">Get started today</h3>
        <p class="subtitle is-4 has-text-white">Sign up today and start selling your products, services or subscriptions!</p>
      </div>
    </div>
  </div>
</div>

  <div class="section">
    <div class="container">

      <h3 class="title is-3">Simple Customer Flow</h3>

      <div class="columns" style="max-width:1000px; margin:auto">
        <div class="column">
          <div class="content has-text-centered">
            <img src="/static/steps/1.svg" style="width:100%;" />
            <p class="title is-5" style="margin:2rem 0;"><b>1. Customer chooses a package</b></p>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <img src="/static/steps/2.svg" style="width:100%;" />
            <p class="title is-5" style="margin:2rem 0;"><b>2. Customer enters contact info</b></p>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <img src="/static/steps/3.svg" style="width:100%;" />
            <p class="title is-5" style="margin:2rem 0;"><b>3. Take one-off/monthly or both payment</b></p>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <img src="/static/steps/4.svg" style="width:100%;" />
            <p class="title is-5" style="margin:2rem 0;"><b>4. Done!</b></p>
          </div>
        </div>
      </div>

      <p>We know customers get scared off when confronted with a million different form fields, that's why we keep the onboarding form easy and simple. The 4 step process allows customers to quickly and easily sign up or purchase the items you're selling.</p>

      <br />

      <div class="section kcDarkBlue">
          <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
            <div class="column">
              <h3 class="title is-3 has-text-white">Repeat payments? Simple.</h3>
              <p class="subtitle is-4 has-text-white">Integrate your GoCardless API to allow customers to sign up to your subscription service using Direct Debit.</p>
            </div>
            <div class="column is-one-third" style="padding:0; text-align:center">
              <img src="/static/gocardless-white-rgb_2018.svg" style="width:75%; max-height:100px" />
            </div>
          </div>
      </div>

      <br />

      <div class="section kcBlue">
          <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
            <div class="column">
              <h3 class="title is-3 has-text-white">One Off payments? Sorted.</h3>
              <p class="subtitle is-4 has-text-white">Take one off payments quickly and securely by utilising your Stripe account.</p>
            </div>
            <div class="column is-one-third" style="padding:0; text-align:center">
              <img src="/static/stripe.svg" style="width:75%; max-height:100px" />
            </div>
          </div>
      </div>

    </div>
  </div>

  <div class="section kcDarkBlue" style="position:relative">
    <div class="container">
      <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
        <div class="column">
          <h3 class="title is-3 has-text-white">Get started today</h3>
          <p class="subtitle is-4 has-text-white">Sign up today and start selling your products, services or subscriptions!</p>
        </div>
        <div class="column is-one-third">
          <a href="/new_customer" class="button is-large is-fullwidth is-light">Sign up for Free!</a>
        </div>
      </div>
    </div>
  </div>

<br />

  <script>
    $('.pricing-plan').hover(
         function(){ $(this).addClass('is-active') },
         function(){ $(this).removeClass('is-active') }
  )
  </script>

  <script>
    function showHorizontal() {
      document.getElementById('pricing-table-horizontal').style.display = "block";
      document.getElementById('pricing-table-vertical').style.display = "none";
      console.log('Button Clicked!');
    }
    function showVertical() {
      document.getElementById('pricing-table-vertical').style.display = "block";
      document.getElementById('pricing-table-horizontal').style.display = "none";
      console.log('Button Clicked!');
    }
  </script>

  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

{% endblock %}
