<!doctype html>
<html lang=en>
<head>
  <title>{% block title %}{% endblock %} | {{ jamla['company']['name'] }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/static/bulma.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:900,400" rel="stylesheet">
  <meta name="theme-color" content="#1e88e5">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PLZVJL3');</script>
  <!-- End Google Tag Manager -->
  <meta name="msvalidate.01" content="24B2520A8263E8615610FC1C9F66C96D" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/static/app.js"></script>
  <script src="/static/snackbar.min.js"></script>
  <link rel="stylesheet" href="/static/snackbar.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLZVJL3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script>
if ( plan = new URL(document.location).searchParams.get('plan'))
{
    localStorage.setItem('plan', plan )
}

</script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLQRSLN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <nav class="navbar is-info kcDarkBlue" style="z-index:999999;">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/static/{{ jamla['company']['logo'] }}" alt="{{ jamla['company']['name'] }}">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroB">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroB" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="/">
            Home
          </a>
          <a class="navbar-item" href="https://support.karmacomputing.co.uk">
            Help &amp; Support
          </a>
          <span class="navbar-item">
            <a class="button is-info is-inverted" href="/contact">
              <span>Contact Us</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>

  <div class="site-content">
      {% block top %}
      {% endblock top %}
    <section class="hero" style="position: relative;">
      <div class="hero-body">
        <div class="container" style="z-index:9999">
          {% block hero %}{% endblock %}
        </div>
        <div class="header__bg kcHotCoral"></div>
      </div>
    </section>
    <main class="main">
      {% block body %}{% endblock %}
    </main>

  </div>

  <footer class="footer" style="padding: 3rem 1.5rem 3rem;">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          By <a href="/">{{ jamla['company']['name'] }}</a>.
          <br />Made with <3 by the <a href="https://www.karmacomputing.co.uk" title="Karma Subscription Website Builder">KC</a> gang in Newcastle upon Tyne</a>.
        </p>
        <br />
        <a href="#" class="button is-small">Scroll back to top</a>
      </div>
    </div>
  </footer>


</body>

<script src="/static/app.js"></script>

</html>
